[Unit]
Description=Alertmanager for prometheus
Documentation=https://github.com/prometheus/alertmanager

[Service]
Restart=always
User={{ alertmanager__system_user_name }}
ExecStart={{ alertmanager__binary_dir }}/alertmanager \
    --config.file={{ alertmanager__config_dir }}/alertmanager.yml \
    --storage.path={{ alertmanager__storage_path }} \
    --web.external-url={{ alertmanager__web_external_url }} \
    --log.level={{ alertmanager__log_level }} \
    --log.format={{ alertmanager__log_format }}

ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
